<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

    <% if session[:user_id] %>
        <form class="logout-form" action="/sign_out" method="post">
            <input type="submit" value="Logout">
        </form>
    <% end %>

    <%= yield %>
</body>
