<h1>Search Google Books API for keywords below</h1>

<input class="search-google-books-api__input" type="text" placeholder="Enter keyword(s) to search">
<button class="search-google-books-api__btn">Search</button>

<div class="search-results__container"></div>

<script type="text/javascript" src="/js/script.js"></script>
