<form class="search-google-books-form" action="/search" method="post">
    <input type="text" name="search_term" placeholder="Enter keyword(s) to search">
</form>


<script type="text/javascript" src="/js/script.js"></script>
